* {
    outline: 1px red dotted;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */
.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    flex: 1;
    justify-content: flex-start;
    margin-left: 60px;
}

.header-links {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header-links ul {
    list-style: none;
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Section */
.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.right-section {
    margin-left: 60px;
    width: 400px;
    height: auto;
    padding: 100px 0px;
}

.right-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.right-section p {
    color: #E5E7EB;
    padding: 10px 0px;
}

.right-section button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

.left-section {
    margin-right: 60px;
    padding: 100px 0px;
}

/* Information Section  */
.information-section h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 40px;
}

.information-list ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
    margin: 0px 140px;
    padding: 0 0 80px;
}

.information-list p {
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.rounded-square {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 20px;
}

/* Quote Section */
.quote-section {
    background-color: #E5E7EB;
    padding: 80px 160px;
}

.quote-section h3 {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 20px;
}

.quote-section h4 {
    text-align: right;
}
