* {
    padding: 0;
    margin: 0;
    /* outline: 1px blue dotted; */
}

body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.75fr 3.25fr;
    grid-template-rows: 30% auto;
    height: 100vh;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
    ;
}

/* header section */
.header-container {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1.25fr;
    grid-template-areas: 
        "search profile"
        "name buttons"
    ;
    padding: 10px;
}

.header-container > div > span {
    align-self: center;
}

.search-bar {
    grid-area: search;
    display: flex;
    padding: 10px;
    gap: 40px;
}

.search-bar-input {
    align-self: center;
}

.search-bar > input {
    width: 70%;
    border-radius: 8px;
    border: none;
    background-color: #EEEEEE;
    font-size: 18px;
}

.profile {
    grid-area: profile;
    display: flex;
    justify-content: end;
    padding: 0px 10px;
}

.profile > h4 {
    align-self: center;
}

#profile-pic-small {
    font-size: 2rem;
}

.profile-name {
    grid-area: name;
    display: flex;
}

.profile-name > div {
    align-self: center;
}

.profile-name > span {
    font-size: 4rem;
}

.profile-buttons {
    grid-area: buttons;
    display: flex;
    align-self: center;
    justify-content: end;
    padding: 0px 10px;
    gap: 10px;
}

.profile-buttons > button {
    width: 8rem;
    height: 2.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #0ea5e9;
    color: white;
    font-weight: 700;
}

/* sidebar section */
.sidebar-container {
    grid-area: sidebar;
    background-color: #0ea5e9;
    color: white;
    display: grid;
    width: 200px;
    padding: 20px;
    gap: 60px;
}

.material-symbols-outlined {
    padding: 10px;
    font-size: 1rem;
}

div > ul {
    list-style: none;
}

/* content section */
.content-container {
    grid-area: content;
    display: grid;
    grid-template-columns: auto 30%;
    padding: 20px;
    gap: 40px;
    background-color: #EEEEEE;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "projects projects"
        "card-1 card-2"
        "card-3 card-4"
        "card-5 card-6"
    ;
    gap: 40px;
}

.cards-container > h4 {
    grid-area: projects;
}

.cards-container > div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-left: 6px solid orange;
    height: 150px;
}

.cards-container > div > p {
    font-size: 0.75rem;
}

div.card-1 {
    grid-area: card-1;
}

div.card-2 {
    grid-area: card-2;
}

div.card-3 {
    grid-area: card-3;
}

div.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-6 {
    grid-area: card-6;
}

.announcements-trending {

}