* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 1px dotted red;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #393E46;
    color: white;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

.orange-bold-font {
    font-weight: bold;
    font-style: italic;
    color: #D65A31;
}

.page-title {
    margin: 40px auto;
}

.recipes {
    margin: 40px 20px;
}

.recipe-desc {
    margin: 10px 100px;
}

.recipe-items {
    margin: 10px auto;
    padding: 10px;
}

.spacer {
    margin: 40px auto;
}