* {
    padding: 0;
    margin: 0;
    /* outline: 1px red dotted; */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-weight: 900;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#display {
    outline: 1px solid gray;
    width: 176px;
    height: 40px;
    border-radius: 6px;
    margin: 10px;
    text-align: end;
    align-items: center;
    justify-content: end;
    font-size: 2em;
}

button {
    width: 40px;
    height:40px;
    /* margin: 4px; */
    border-radius: 5px;
}

#clear-button {
    width: 80px;
}